.cart-count-badge {
  position: absolute;
  top: -8px; // Adjust to position above the icon
  right: -10px; // Adjust to position to the right of the icon
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 4px 6px;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;

  button {
    background-color: #175A95;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;

  }

  span {
    font-size: 16px;
    margin: 0 10px;
  }
}


.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.cart-items {
  width: 60%;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  padding: 10px;
  border-bottom: 1px solid #175A95;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;

  gap: 5px;
}

.quantity-controls button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  
  cursor: pointer;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.additional-info input {
  padding: 10px;
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-summary {
  width: 35%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.summary-details {
  margin-bottom: 20px;
}

.coupon {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.coupon input {
  padding: 10px;
  flex: 1;
}

.coupon button {
  padding: 10px;
  background-color: #175A95;
  color: white;
  cursor: pointer;
  border: none;
  
}

.checkout-button, .continue-shopping {
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background-color: #175A95;
  color: white;
  border-radius: 5px;
  
}

.policy-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
}
