.play-role-title{
    // margin-top: 30px;
   
    //  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  
  .title-access{
    background-color: #f5f7f8;
    padding: 10px;
  }
  
  .play-role-title{
    background-color: #f3f5f7;
    padding: 16px;
    border-radius: 8px;
  }
  .play-kit-title img{
    width: 100%;
    height: 200px !important;
    object-fit: contain;
    background: #fff;
    border-radius: 16px;
    padding: 30px 20px;
  }
  
  .play-cubric img{
    padding: 0;
    border-radius: 0;
    height: 245px;
  }
  
  .play-cubric img {
    padding: 0;
    border-radius: 0;
    height: inherit;
  }
  
  .playkit-action{
    margin-top: 50px;
  }
  
  .action-inject{
    margin-top: 20px;
  }
  .kit-down p{
    font-size: 15px;
    color: #000;
    font-weight: 600;
  }
  .kit-down{
    text-align: center;
    text-transform: uppercase
    ;
  }
  
   .ex-btn{
    background: #203d6a;
    border: none;
    padding: 6px 10px;
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }

  .save-btn{
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  
  .buttton button {
    border: none;
    background: none;
  }
  
 
  .ex-btn1{
    font-size: 24px;
    font-weight: 700;
    color: #353535;
    text-decoration: none;
  }
  
  .ex-btn2{
    font-size: 24px;
    font-weight: 400;
    color: #353535;
    text-decoration: none;
  }
  
  .add-btn button{
    background: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    // color: #663399;
    font-size: 15px;
    font-weight: 600;
    width: 100px;
    
  }
  .add-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  
  }
  .add-btn button{
    background: #fff;
    color: #203d6a;
    border-radius: 6px;
    border:1px solid #203d6a;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between; /* Optional: to add space between cards */
    gap: 20px; /* Optional: to add gap between cards */
  }
  
  .card-container > div {
    flex-basis:  calc(33.33% - 20px); /* 3 cards per row with 20px gap */
    box-sizing: border-box; /* Ensures padding/margins don't affect width */
    margin-bottom: 20px; /* Optional: space below each card */
  }
  .price-text span{
    font-weight: 700;
    font-size: 20px;
  }
  .overline-text p{
    text-decoration: line-through;
  }
  .css-13xfq8m-MuiTabPanel-root{
    display: flex;
    gap: 20px;
  }
  .display-block-0{
    flex-wrap: wrap;
  }

  @media(max-width:767px) and (min-width:426px){
    .play-role-title {
      width: 100%;
  }
  .css-13xfq8m-MuiTabPanel-root{
    flex-direction: column;
  }
  }

  @media(max-width:425px){
    .play-role-title {
      width: 100%;
  }
  .css-13xfq8m-MuiTabPanel-root{
     flex-direction: column;
  }

  }