.complete-project {
    background-color: #F7F7F7;
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 50px;
}


.imag-complete img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-name h5{
    font-weight: 700;
    color: #00528d;
    margin-bottom: 10px;
}
.complete-discount{
    background-color: #CC0C39;
    border-radius: 20px;
    height: 25px;
    width: 60px;
    text-align: center;
    color: white;
}

.complete-price h4{
    font-weight: 700;
}
.font-complete{
    font-size: 40px !important;
}
.right-sight-title-brand{
    margin-bottom: 0px !important;
}
.reletedHead{
    font-size: 40px !important;
}