.footer_namiskar {
    margin-top: 50px;
}
.footer_namiskar {
    padding: 30px;
}
.footer_namiskar {
    background: linear-gradient(175.61deg, #1096A4 0%, #175A95 100%);

}

.down_footer {
    padding: 15px;
    background: linear-gradient(#12b8c9, #074378);
}


.down_footer h5 {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.down_footer span {
    color: #000;
}
.ct_contact_us p {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
}
.ct_contact_us h3 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 500;
}
.ct_contact_us ul {
    list-style: none;
    padding: 0;
}
.ct_contact_us ul li {
    margin-bottom: 5px;
    font-size: 14px;
}
