.project-enroll{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px 40px;
    border-radius: 10px;
}
.project-enroll h1{
    text-align: center;
    font-size: 30px;
}
.inno-nectonical{
    border-radius: 10px;
}
.btn-primary {
    background-color:#203d6a !important ;
}


// ========================================================media-query============================================
@media(max-width:1199px) and (min-width:992px){
        .inno-nectonical {
            width: 100%;
            height: 87%;
        }
    }

@media(max-width:991px) and (min-width:768px){
    .inno-nectonical{
        width: 100%;
        height: auto;
    }
    .project-enroll{
        margin-top: 20px;
    }
}

@media(max-width:767px) and (min-width:426px){
    .inno-nectonical{
        width: 100%;
        height: auto;
    }
    .navi-title h1, .navi-title p{
      color: #fff;
    }
   .navi-title{
     padding: 0px 10px;
   }
   .project-enroll{
    margin-top: 20px;
}
}

@media(max-width:425px){
    .inno-nectonical{
        width: 100%;
        height: auto;
    }
    .project-enroll{
        margin-top: 20px;
    }
}