.lab{
    width: 100%;
}

.right-sight-title-brand h1{
    font-size: 45px;
    color: #185695;
    font-weight: 800;
}
.toddler-title {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 50px;
}
.imag-toddler img{
    width: 195px;
}

.labs-toddler p{
    font-size: 14px;
    font-weight: 500;
    color: #00528d;
    margin-bottom: 10px;
}
.labs-toddler span{
    
    font-size: 11px;
    font-weight: 400;
    color: #000000;
}

.all-details-age p{
    color: #222222;
    font-size: 10px;
    font-weight: 500;
}
.all-details-age span{
    color: #708090;
    font-size: 10px;
    font-weight: 500;
}

.summer-activity img{
    width: 100%;
    height: auto;
}
.camp-activity-title{
    margin-top: 50px;
}
.camp-title-act h2{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.camp-title-act span{
    color: #203D6A;
    font-weight: 700;
    
}
.camp-title-act p{
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    margin:15px 15px;
}
.summer-activity p{
    color: #333333;
    font-size: 21px;
    font-weight: 400;
    margin:15px 15px;
}

.reletedHead{
    color:  #1A5093;
    font-size: 40px;
    font-weight: 700;
}

.relation-title-left{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 15px;
}
.relation-title h3{
    color: #185695;
    font-family: "Nunito";
    font-size: 25px;
    font-weight: 700;
}
.relation-title h4{
    color: #000000;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
}

.right-sight-title-brand h1{
    font-size: 45px;
    color: #185695;
    font-weight: 800;
}
.right-sight-title-brand{
    margin-bottom: 50px;
}
.right-sight-title-brand, .mini-img-minos{
    margin-top: 50px;
}
.imag-toddler img{
    width: 140px;
}

.labs-toddler p{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    color: #00528d;
    margin-bottom: 10px;
}
.labs-toddler span{
    font-family: "Poppins";
    font-size: 11px;
    font-weight: 400;
    color: #000000;
}
.an-int a{
    font-size: 12px;
    font-weight: 700;
    color: #00528d;
    text-decoration: none;
}
.toddlet-tab-img{
    width: 100%;
    height: auto;
}