.live-project {
    background-color: #F7F7F7;
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 50px;
}

.live-project-heading h3{
    font-size: 35px;
    color: #185695;
    font-weight: 800;
    text-align: center;
}

.imag-complete img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-name h5{
    font-weight: 700;
    color: #00528d;
    margin-bottom: 10px;
}
.complete-discount{
    background-color: #CC0C39;
    border-radius: 20px;
    height: 25px;
    width: 60px;
    text-align: center;
    color: white;
}

.complete-price h4{
    font-weight: 700;
}

.enroll-now{
    font-weight: 700;
    background-color: #185695;
    text-transform: capitalize;
}
.live-project-name{
    font-weight: 600;
    color: #062830;
    
}
.form-control, .form-select{
    font-size: 13px  !important;
    color: #000  !important;
    font-weight: 700 !important;
}
.form-label{
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
.modal-footer button{
    background-color: #203d6a;
    color: #fff;
}
.modal-footer{
    display: flex;
    gap: 10px;
}
.modal-dialog{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.modal-title h1{
    font-size: 25px;
}
.varient-btn{
    width: 100% !important;
}