.MuiToolbar-regular{
    display:none;
}
.linear-nav svg{
    font-size: 25px;
    color: #000;
}

.linear-nav{
    color: #fff;
}
.linear-nav{
    background: linear-gradient(175.61deg, #207179 0%, #092136 100%) !important;
}

.css-11lq3yg-MuiGrid-root{
    margin-top: 0px !important;
}
.MuiPaper-elevation6{
padding: 20px;
}
.MuiButton-containedPrimary{
    margin-top: 15px;
}