.productBanner{
    width: 100% !important;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}




.navi-title{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 90%;
}
.navi-title h1{
    font-size: 21px;
    font-weight: 600;
    color: #333333;
}
.navi-title button{
    background: #203d6a;
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    position: absolute;
    top:-95px;
    right: -28px;
    width: 140px;
}
.navi-title button a{
   color: #ffff;
   text-decoration: none;
    
}

.navi-title p{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.shop-by-title h5{
    color: #353535;
    font-size: 35px;
    font-weight: 800;
}
.shop-by-title h5 span{
    color: #006ED3;
    font-size: 36px;
    font-weight: 800;
}
.shop-by-title{
    margin-top: 50px;
    margin-bottom: 70px;
}
.shop-by-title p{
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    ;
}
.group button{
    background-color: #fff;
    color: #203d6a !important;
}
.shopbyintrest h5{
    color: #353535;
    font-size: 35px;
    font-weight: 800;
}
.shopbyintrest h5 span{
color: #006ED3;
    font-size: 36px;
    font-weight: 800;
}


.shopByAge {
    padding: 10px;
    width: 820px;
    margin: auto;
   
  }

  .group {
    display: flex;
    flex-direction: column;
    background-color: #005A94; /* Custom background color */
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
    padding: 20px;
    // width: 280px;
    height: 115px;
    position: relative;
  }
  
  .imageWrapper {
    width: 150px;
    height: 175px;
    position: absolute;
    width: 100%;
    top: -60px;
    right: -170px;
    color: transparent;

  }
  
  .ageLabel {
    color: white;
    font-weight: bold;
    
  }
  

  .proudctDetailHeading{
   color: #175A95;
   font-weight: bolder;
  }

  .productCategory{
    font-weight: 700;
    font-size: 20px;
  }
  .motonove-right-title h3{
    color: #185695;
    font-weight: 600;
    font-size: 30px;

}

.motonove-right-title p{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.motonova-highlight span{
    font-weight: 600;
    font-size:20px;
    color: #185695;
  
}

.wheel-balance ul{
    color: #635F5F;
    font-size: 16px;
}
.wheel-balance ul li a{
    color: #635F5F;
    text-decoration: none;
}

.reting-create-price h3{
    color: #185695;
    font-size: 30px;
    font-weight: 500;

}
.reting-create-price span{
    color: #635F5F;
    font-size: 12px;
    font-weight: 400;
}

.rating-star span{
    color: #185695;
    font-weight: 700;
    font-size: 15px;
}

.free-delivery-date{
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.free-delivery-date{
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}
.free-delivery-date img{
    width: 50px;
    height: 50px;
}

.ic0n-about-trust h3{
    color: #635F5F;
    font-weight: 400;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 30px;
    padding: 5px 20px;
    width: 330px;
}
.ic0n-about-trust h4{
    color: #3E3939;
    font-weight: 400;
    font-size: 20px;
    width: 390px;
}
.ic0n-about-trust p{
    font-weight: 400;
    color: #3E3939;
    font-size: 14px;
    letter-spacing: 1px;
}

.mt-gera-title{
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    width: 260px;
}
.mt-gera-title{
    margin-top: 30px;
}
.image-sec-66 img{
    width: 100%;
    height: 150px;
    margin-top: 100px; 
    
}



.right-sight-title-brand{
    margin-top: 50px;
}

// .product-image{
//     width: 100%;
// }

  .card {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .cardImgTop {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .cardBody {
    padding: 15px !important;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardText {
    font-size: 0.9rem;
    
    margin-bottom: 15px;
  }
  
  .btnPrimary {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btnPrimary:hover {
    background-color: #0056b3;
    color: white;
  }
  .logoImage {
    height: 25px !important;
    width: 100%;
}
.product-image{
 width: 100%;
height: auto;
}
.proudctDetailHeading h1{
    font-weight: 800;
}
.mini-img-minos button a{
    color: #fff !important;
    padding: 10px 25px !important;
}
.ageLabel{
    font-size: 25px;
}
.title-section img{
    width: 100%;
    height: auto;
}
.swiper-slide img {
    width: 100%;
    height: auto;
}
.btnPrimary{
    background-color: #203d6a;
    border: none;
}
.btnPrimary a{
    color: #fff;
}
.related-product-card img {
    width: 100%;
    height: 285px;
    object-fit: cover;
    background: #fff;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;

}
.card-body h5{
    font-size: 18px;
}
.card-body{
    margin-top: 10px;
}
.approvel-grand h1{
    font-size: 35px;
}


.leading-left-title{
    margin-top: -27px;
}


//sort options
.sort-wrapper {
    width: 100%;
  }
  
  .sort-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  
  .sort-option {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  .sort-option.active {
    color: red;
    text-decoration: underline;
  }
  
  .divider {
    width: 100%;
    height: 2px;
    background-color: #ddd;
  }
  
  .css-1l937eg-MuiGrid-root>.MuiGrid-item {
    padding-left: 0px;
}
.box-sh .css-1ruxp1v img{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 97%;
}

.box-sh .css-1ruxp1v{
    position: sticky;
    width: 100%;
    top: 0px;
}
  
  
//========================================== media query start========================================
@media(max-width:991px){
    .productBanner img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
   
    .navi-title {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 42%;
        left: 50%;
        width: 100%;
    }
    .shopByAge{
        flex-direction: row;
        // text-align: -webkit-center;
    }
    .shopByAge {
        width: 320px;
        margin: auto;
       }
    .group{
        margin-top: 70px;
    }
    .card-container{
        flex-direction: column;
    }
    .play-role-title, .title-access{
        width: 100%;
    }
   
    .dr-title{
        flex-direction: column;
    }
    .css-cmv4v0-MuiGrid-root{
        flex-direction: column;
    }
.swiper-slide img{
    width: 100%;
    height: auto;
}
.makeStyles-image-2 img{
    width: 100%;
    height: auto;
}
}


@media (max-width:991px) and (min-width:767px) {
    .productBanner img {
        width: 100%;
        height: 225px;
        object-fit: cover;
    }
    .all-toys {
        flex-direction: column;
    }
}



@media(max-width:768px){
    .productBanner img {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }
    
}

@media(max-width:991px) and (min-width:426px){
    .imageWrapper img{
        right: 0px;
        position: absolute;
    }
    .imageWrapper{
        right: 0px;
   
    }
}

@media(max-width:576px) and (min-width:426px){
    .navi-title p {
        font-size: 15px;
}
}


@media(max-width:425px){
    .shopByAge {
     width: inherit; 
     margin: auto; 
     flex-direction: column;
    }
    .productBanner img {
        width: 100%;
        height: 140px;
        object-fit: cover;
      }
      .MuiGrid-container {
        display: flex !important;
    }
    .imageWrapper img{
        right: 0px;
        position: absolute;
    }
    .imageWrapper{
        right: 0px;
   
    }
    .navi-title{
        padding: 10px;
    }
}

@media(max-width:375px){
    .MuiTabs-flexContainer{
        flex-direction: column;
    }
    .tab-content, .css-13xfq8m-MuiTabPanel-root, .tabs-container{
        padding: 0 !important;
    }
}





// Swiiper

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 25px !important;
    
}