.mainHeading {
  font-weight: 700 !important;
}
.signuppara {
  font-weight: 400;
  color: rgba(49, 49, 49, 1);  
  ;
}
.signupwithother {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(16, 150, 164, 1) 1px 1px 1px 1px;
  padding: 8px;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
}

.mainHeading, .signuppara{
  text-align: left;
}
.PrivateNotchedOutline-root-6{
  background-color: #fff;
  border-radius: 6px !important;
}
.MuiButton-containedPrimary{
  width: 100%;
}
.MuiButton-contained{
  width: 100% !important;
}

.MuiButton-contained {
  background-color: #3f51b5 !important;
}





@media(max-width:991px){
  .MuiGrid-container {
    display: grid !important;
  }
  .MuiGrid-grid-md-6 {
    max-width: 100% !important; 
}
.MuiGrid-grid-sm-6{
  max-width: 100% !important;
}
// .makeStyles-image-2{
//   width: 990px;
// }
}
@media (max-width: 768px) {
  .productBanner img {
      width: 100%;
      height: 210px;
      object-fit: cover;
  }
}
@media (max-width:425px){
  .MuiGrid-grid-sm-6 img{
    width: 100%;
    height: auto;
  } 
  .makeStyles-paper-3 {
    margin: 60px 40px 30px 40px !important;
}

.MuiGrid-container {
  display: grid !important;   
}
 
}