.mainHeading {
  font-weight: 700 !important;
}
.signuppara {
  font-weight: 400;
  color: rgba(49, 49, 49, 1);
  ;
}
.signupwithother {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(16, 150, 164, 1) 1px 1px 1px 1px;
  padding: 8px;
  border-radius: 5px;
}
