.shopbyintrest{
    margin: 10px;
}
/* lead-brand-start */
.two-kids-title img{
    width: 300px;
    height: auto;
}
.leading-title{
    margin-top: 50px;
}

.imag-toddler img{
    width: 195px;
}
.toddler-title {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 50px;
}
.lab-left-title, .left-search-title, .left-product-title{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
}
.lab-left-title p, .left-search-title p, .left-product-title p{
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins";
    background: #f5f7f8;
    padding: 5px 13px;
}
.left-list-title ul, .left-search-title ul , .left-product-title ul{
    list-style: none;
    padding: 0;
}
.left-list-title a, .left-search-title a , .left-product-title a{
   color: #000000;
   font-size: 14px;
   font-family: "Poppins";
   text-decoration: none;
}
.left-list-title ul{
    margin-left: 20px;
}

.lab-position{
    margin-top: -153px;
    
}
.battery-title{
    padding: 0;
    }

    .battery-opra{
        padding: 15px;
    }
    .form-check{
        margin-bottom: 5px !important;
        
    }
    
    
/* lead-brand-end */