
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    
    --blue-100:
    --blue-200:
    --blue-300:
    --blue-400: #1096A4;
    --blue-500: #175A95;
    --black-100:
    --black-200:
    --black-300:
    --black-400:
    --black-500:
    --red-100:
    --red-200:
    --red-300:
    --red-400:
    --red-500:
    --grey-100:
    --grey-200:
    --grey-300:
    --grey-400:
    --grey-500:

    --primary-color: var(--blue-500);
    --seconday-color:var(--blue-400);
    
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none !important;
}

p{
  margin: 0;
}



@import './login';
@import './register';
@import './footer';
@import "./navbar";
@import "./product";
@import "./ourachivment";
@import "./shopbyintrest";
@import "./cart";


.primary-color{
  color: var( --primay-color) !important;
} 
    

 