
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --red : red;
    --blue-400: #1096A4;
    --blue-500: #175A95;
    --black-100:
    --black-200:
    --black-300:
    --black-400:
    --black-500:

    --primary-color: var(--blue-500);
    --primary2-color:var(--blue-400);
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none !important;
}

p{
  margin: 0;
}



@import './login';
@import './register';
@import './footer';
@import "./navbar";
@import "./product";
@import "./ourachivment";
@import "./shopbyintrest";
@import "./cart";



.primary-color{
  color: var( --primay-color) !important;
} 
    

 